.book {
  transform-style: preserve-3d;
  transition: transform 0.2s linear;

  &:hover {
    transform: translate3d(0, 0, 200px);

    .spine {
      box-shadow: 0 10px 30px #333333;
    }
  }
}

.openedBook {
  position: fixed;
  transform-style: preserve-3d;
  transition: transform 0.7s linear;
}

.rotateBook {
  transform-style: preserve-3d;
  transition: transform 0.3s linear 0.4s;
  transform: rotateY(0deg);
}

.openedRotateBook {
  transform-style: preserve-3d;
  transition: transform 0.3s linear 0.4s;
  transform: rotateY(-90deg);
}

.spine {
  border: 1px solid #333333;
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
}

.frontCover {
  position: absolute;
  transition: box-shadow 0.2s linear;
  border: 1px solid #333333;
  border-radius: 2px;
}
