.bookshelf {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  width: 600px;
  height: 280px;
  margin: 3rem 0;
}

.shelf {
  flex-basis: 5%;
  flex-shrink: 0;
  width: 100%;
  background-color: #6e4d2d;
  border: 1px solid #6e4d2d;
  box-shadow: 0 10px 30px #6e4d2d;
  background-image: url("images/wood-pattern.png");
  background-repeat: repeat;
}

.books {
  height: 95%;
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
