.book {
  position: relative;
  transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;

  &:hover {
    transform: scale3d(1.5, 1.5, 1.5);
    z-index: 3;

    .spine {
      box-shadow: 0 10px 30px #333333;
    }
  }
}
@keyframes openBook {
  0% {
    transform: scale3d(1.5, 1.5, 1.5);
  }

  40% {
    transform: scale3d(3, 3, 3);
  }
  100% {
    transform: rotateY(-90deg) scale3d(3, 3, 3);
    top: 50%;
    left: 25%;
  }
}

.openedBook {
  position: fixed;
  z-index: 4;
  animation: openBook 5s linear forwards;
  transform-style: preserve-3d;
}

.spine {
  border: 1px solid #333333;
  border-radius: 2px;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  z-index: 2;
}

.frontCover {
  position: absolute;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  z-index: 1;
  border: 1px solid #333333;
  border-radius: 2px;
}
