.bookWrapper {
  position: relative;
}

.openedBookWrapper {
  position: fixed;
  z-index: 4;
  transform-style: preserve-3d;
  transition: top 0.3s linear,
    left 0.3s linear,
    margin 0.3s linear;
}

.book {
  transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;

  &:hover {
    transform: scale3d(1.5, 1.5, 1.5);
    z-index: 3;

    .spine {
      box-shadow: 0 10px 30px #333333;
    }
  }
}

.openedScaleBook {
  transform-style: preserve-3d;
  transition: transform 0.4s linear;
  transform: scale3d(3, 3, 3);
}

.openedRotateBook {
  transform-style: preserve-3d;
  transition: transform 0.2s linear 0.4s;
  transform: rotateY(-90deg);
}

.spine {
  border: 1px solid #333333;
  border-radius: 2px;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  z-index: 2;
}

.frontCover {
  position: absolute;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  z-index: 1;
  border: 1px solid #333333;
  border-radius: 2px;
}
