.decoration {
  max-width: 230px;
  max-height: 230px;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
}

.cat1, .cat2 {
  padding: 0 40px;
}

.hangingCat {
  position: absolute;
  transform: translate3d(0, 199px, 1px);
  height: 200px;
  opacity: 1;
  transition: opacity 0.5s linear;
}

/*@media (max-width: 800px) {
  .hangingCat {
    opacity: 0;
  }
}*/
