.wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}


@media (min-width: 800px) {
  .wall {
    & > * {
      align-self: center;
    }

    & > :nth-child(1) {
      margin-right: 30%;
    }

    & > :nth-child(2) {
      margin-left: 35%;
    }

    & > :nth-child(3) {
      margin-right: 10%;
    }
  }
}
