.wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  perspective: 3000px;
  transform-style: preserve-3d;
}

@media (min-width: 800px) {
  .wall {
    & > * {
      align-self: center;
    }

    & > :nth-child(1) {
      margin-right: 30%;
    }

    & > :nth-child(2) {
      margin-left: 35%;
    }
  }
}

.wall * {
  transform-style: preserve-3d;
}
