/*
 * PostCSS styles to test Rollup’s handling of them.
 */

/* Variables */
$color-heading: #111;
$color-text: #444;
$color-gradient-start: #efefff;
$color-lightest: #fff;
$font-family: serif;

/* Simple reset. */
body,* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: $color-text;
  font-family: $font-family;

  /* Add some CSS3 stuff. */
  height: 100%;
  width: 100%;

  background-image: url("images/background.jpg");
  background-repeat: repeat;
}
